<?xml version="1.0" ?>
<launch>
  <arg name="start_moveit" default="true" />
  <arg name="fake_execution" default="false" /> <!-- Only valid if running moveit movegroup (start_moveit:=true) -->
  <arg name="load_demo_planning_scene" default="true"/>

  <group if="$(eval arg('start_moveit') == true)">
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
      <arg name="fake_execution" value="$(arg fake_execution)" />
      <arg name="load_gripper" value="$(arg load_gripper)" />
      <arg name="info" value="true" />
    </include>
    <group if="$(eval arg('load_demo_planning_scene') == true)">
      <node name="demo_scene_loader" pkg="franka_moveit" type="create_demo_planning_scene.py" respawn="false" output="screen" />
    </group>
  </group>


</launch>


